{#
This file is part of SNN2Bitstream.
Copyright (C) 2026 Xindan Zhang, Sorbonne Université, CNRS, LIP6

SNN2Bitstream is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

SNN2Bitstream is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-#}
#ifndef FC_LAYER{{ index }}_H
#define FC_LAYER{{ index }}_H

typedef float data_t;

void fc_layer{{ index }}(
    data_t out[{{ layer.out_dim }}],
{% if input_is_spike %}
    const data_t in[{{ layer.prev_out_dim }}]
{% else %}
    const data_t in[{{ layer.prev_out_dim }}]
{% endif %}
);

#endif // FC_LAYER{{ index }}_H
