{#
This file is part of SNN2Bitstream.
Copyright (C) 2026 Xindan Zhang, Sorbonne Université, CNRS, LIP6

SNN2Bitstream is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

SNN2Bitstream is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-#}
#ifndef RESET_NODE_H
#define RESET_NODE_H

typedef float data_t;

// Set reset vector based on spike: reset[i] = spk[i] * v_reset
void reset_node(
    data_t *reset,
    const data_t *spk,
    data_t v_reset,
    int len
);

#endif // RESET_NODE_H
